*
{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    position: relative;
    min-height: 100%;
    top: 0px;
}
header
{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
#wrapper
{

    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
@media screen and (max-width: 1000px)
{
    #wrapper
    {
        width: 100%;
    }
}
/*first navbar*/
.hidden
{
    position: relative;
    padding-left: 50px;
    width: auto;
}
.navbar
{
    float: right;
    width: auto;
    height: auto;
    display: flex;
    list-style: none;
    margin-top: 30px;
    text-align: center;
    margin-right: 50px;
}
.navbar li
{
    display: inline-block;
}
.navbar li a
{
    text-decoration: none;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 2px 1px rgb(194, 194, 194);
    color: rgb(80, 80, 80);
}
@media screen and (max-width: 900px)
{
    .navbar
    {
        width: 100%;
        float: center;
        padding: 20;
        display: block;
        margin: 0;
        border: 0;
        font-size: 100%;

    }
}
@media screen and (max-width: 400px)
{
    .navbar li a
    {
        padding-top: 10px;
        display: block;
    }
}
.logo
{
    padding-top: 20px;
    padding-left: 50px;
}
@media screen and (max-width: 250px)
{
    .logo img
    {
        width: 100%;
    }
}

/*second navbar*/
.main-menu
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ae0b05;
}
.main-menu li
{
    list-style: none;
    justify-content: space-around;
}
.main-menu li a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}
@media screen and (max-width: 900px)
{
    .main-menu    {
        width: 100%;
        display: block;
    }
    .menu-item
    {
        width: 100%;
    }
}

/* divensom är klassad som .middle-searchbar*/
.middle-searchbar
{
    width: 100%;
    height: 350px;
    float: right;
}
.middle-searchbar .bild
{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.bild
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
}
.search
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 30%;
    min-width: 300px;
    z-index: 99;
}.label-lg
{
    font-size: 1.1em;
    padding: .3em .6em;
    background-color: #ae0b05;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    border-radius: 0;
}
.input-group
{
    height: 54px;
    padding: 0px;
    border: none;
    font-size: 1em;
    position: relative;
    border-collapse: separate;
    display: table-cell;

}
input
{
    position: relative;
}
@media screen and (max-width: 1200)
{
    .input-group, .input
    {
        width: 100%;
        
    }
}
@media screen and (max-width: 1200)
{
    .middle-searchbar
    {
        width: 100%;
    }
}
@media screen and (max-width: 900px)
{
    .bild 
    {
        width: 100%;
        position: relative;
    }
}
/* Main */
#main-content
{
    display: block;
    width: 100%;
    height: 2000px;
    align-items: center;
    background-color: rgb(235, 235, 235);
}
.creamy
{
    height: auto;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.rows
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.grid
{
    height: auto;
    width: auto;
    padding-top: 10px;
}
.column
{
    width: 100%;
    display: flex;
    margin-left: 30px;
}
.box-index
{
    padding: 40px;
}
.intel
{
    color: solid rgb(194, 44, 44);
    height: 100px;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
    box-shadow: rgb(202, 202, 202) 0px 2px 10px;
    text-decoration: none;
    background-color: #fff;
    font-size: 15px;
}
.link, a
{
    text-decoration: none;
    color: rgb(223, 59, 59);
    font-weight: bold;
}
.frågor
{
    background-color: rgb(223, 59, 59);
    font-size: 20px;
    color: rgb(245, 245, 245);
    font-weight: bold;
    padding-top: 15px;
    padding-right: 170px;
    padding-bottom: 15px;
    padding-left: 15px;  
}
.vanligafrågor
{
    background-color: rgb(248, 248, 248);
    font-size: 15px;
    padding-top: 15px;
    border: 0.5px solid rgb(189, 189, 189);
    padding-bottom: 15px;
    padding-left: 15px;  
    box-shadow: rgb(196, 196, 196) 0px 3px 5px;
}
.sect
{
    background-color: rgb(248, 248, 248);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 0.5px solid rgb(189, 189, 189); 
    box-shadow: rgb(196, 196, 196) 0px 3px 5px;
}
.genvägs-boxen
{
    margin-top: 25px;
}
.genvägar
{
    background-color: rgb(223, 59, 59);
    font-size: 20px;
    color: rgb(245, 245, 245);
    font-weight: bold;
    padding-top: 10px;
    padding-right: 450px;
    padding-bottom: 10px;
    padding-left: 10px;  
}
.genisar
{
    background-color: rgb(248, 248, 248);
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-top: 15px;
    border: 0.5px solid rgb(189, 189, 189);
    padding-bottom: 15px;
    padding-left: 40px;  
    box-shadow: rgb(196, 196, 196) 0px 3px 5px;
}
.genväg
{
    background-color: rgb(248, 248, 248);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 0.5px solid rgb(189, 189, 189); 
    box-shadow: rgb(196, 196, 196) 0px 3px 5px;
}